<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
  <div class="box">
		<form class="login-form">
			<input type="text" name="username" placeholder="Username" required>
			<input type="password" name="password" placeholder="Password" required>
		    <a href=""><input type="submit" name="Login" value="LOGIN"></a>
			<label>forgot password?</label>
            <a href="/registration"><input class="create" type="button" name="new" value="New Register"></a> 
		 </form>
	</div>
    
</body>
</html>
